﻿
@{
    ViewBag.Title = "Cats - AGL Coding Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cats - AGL Coding Test</h2>

<div id="app"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
<script src="@Url.Content("~/Scripts/js/Pets.jsx")"></script>

